**/node_modules
**/dist
**/coverage
**/*.db
**/*.db-journal
**/*.db-shm
**/*.db-wal
**/*.log
**/.env
**/.env.*
**/.DS_Store
.git
.github
.idea
docs
packages/admin-ui/build
packages/admin-ui/.svelte-kit
packages/server/test
